/* ===== Container Layout ===== */
.job-list-page {
    width: 100% !important;
    max-width: 1100px !important;
    margin: 20px auto;
    padding: 30px;
    background-color: none;
    box-shadow:none;
    border-radius: none;
    box-sizing: border-box;

}




/* ===== Title and Button ===== */
.title {

    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    /*color: #cc0000;*/
    text-align:center;
}

.add-btn {
    display: inline-block;
    margin-bottom: 25px;
    padding: 10px 16px;
    background-color: #28a745;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.add-btn:hover {
    background-color: #218838;
}

/* ===== Search and Filter Form ===== */
.search-form,
.urgent-form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}

.search-input,
.status-filter {

    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    min-width: 460px;

    display:inline-block;
}

.urgent-select {
    margin-top: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    min-width: 260px;

    display:inline-block;

}

.urgent-form {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.search-button,
.urgent-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.search-button:hover,
.urgent-btn:hover {
    background-color: #0056b3;
}

/* ===== Job Table Styling ===== */
.job-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

.job-table th,
.job-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.job-table th {
    background-color: #0e3386;
    color: white;
    font-weight: 600;
}

.job-table td a {
    color: #007bff;
    text-decoration: none;
}

.job-table tr:hover {
    background:#f1f3f5;
}

.job-table td a:hover {
    text-decoration: underline;
}

/* ===== View Urgent Jobs Button ===== */
.urgent-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.urgent-view-btn {
    /*margin-top: 25px;*/
    padding: 10px 18px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none; /* removes underline */
    font-size: 16px;
}




.urgent-view-btn:hover {
    background-color: #c82333;
}

/* ===== Pagination ===== */
.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.pagination a {
    padding: 6px 12px;
    background-color: #f1f1f1;
    color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ddd;
}
