.login-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-box h2 {
    text-align: center;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

.form-footer {
    margin-top: 15px;
    font-size: 14px;
    text-align:center;
}

.form-footer a{

    font-size: 14px;
    text-decoration: none;
}

.login-box label {
    margin-bottom: 4px;
    display: block;
    font-weight: 500;
}

.errorlist {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

